
footer{
	/*color: red;*/
	background-color: black;
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #dddfff;
}

a {	text-decoration: none;}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 25%:;
	background: orange; 
}

#logo{
	text-align: center;
	margin:	0;
}

img{max-width: 100%;}

#galeria{
	margin: 0;
	padding: 0;
	list-style: none;}
#galeria li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #c5fcf5;
	color: #0000ff;
}
#galeria li a p{
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;

}

/* HEADER */
header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background: #6ab47b;
	border-color: #599a68;
}

h1 {
	/*	font-family: 'Monserrat', sans-serif;*/
	font-family: Poiret+One;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 1.8em;
}

h1, h2{	color: #dfe84f; }

nav { background: #6bd69c; }

/* NAVIGETOR */
nav a, nav a:visited {
	color: #fff;}

nav a.selected {
	color: #32673f;}

/* pseudo*/
nav a:hover{
color: #32678f;
}