/*para visualizar en dispositivos moviles*/
/*@media screen and (min-width: 480px)
{
	body{
		background: navy;
	}
}

@media screen and (min-width: 660px)
{
	body{
		background: darkgreen;
	}
}*/

/*Layout de 2 columnas*/
@media screen and (min-width: 660px){
	#primary{
		width: 50%;
		float: left;
	}


	#secondary{
		width: 40%;
		float: right;
	}

}
nav {
	background: none;
	float: right;
	font-size: 1.125em;
	margin-right: 5%;
	text-align: right;
	width: 45%;
}


/*galeria a 3 columnas*/
#galeria li{
	width: 28.3333%;
}

/* para que no se sobrepongan las imagenes*/
#galeria li:nth-child(3n+1){
	clear: left;
}

/* foto a la izquierda y descripcion a la derecha*/
.phofile-photo{
	float: left;
	margin: 0 5% 120% 0;
}

#logo{
	float: left;
	margin-left: 5%;
	text-align: left;
	width: 45%
}

h1{
	font-size: 1.5em;
}
h2{
	font-size: 0.825em;
	margin-bottom: 20px;
}
header{
	border-bottom: 5px solid #599a68;
	margin-bottom: 60px;
}

